body {
    text-align: center;
}

#title {
    font-family: 'Vollkorn', serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#board {
    display: inline-block;
}

#board tr td {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    text-align: center;
}

.col:hover {
    background: lightblue;
    cursor: pointer;
}